@media screen {
    body { 
        background: #2F2F2F;
        color: white;
    }
    .latlon {
        width: 7em;
    }
    .tz {
        width: 10em;
    }
    .box {
        border: 1px solid white;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }
    
    table { border-collapse: collapse; }
    table th { font-size: small; }
    table, th, td { border: 1px solid #aaa; }
    table tr:hover { background: #5f5f5f; }

    .overflowx { overflow-x: auto; }
	
    #elevation-console {
        height: 6em;
        overflow-y: auto;
    }
    .elevation-timestamp { font-size: small; }
    .elevation-error { color: #ff6666; }
    
    a:link { color: #ee6633; }
    a:visited { color: #cccccc; }
    
    #elevation-add-fixed-target-ra,
    #elevation-add-fixed-target-dec {
        width: 10ex;
    }
}

@media print {
    .elevation-ui { display: none; }
}
